<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJs-Products</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
    <div class="products">
        <div class="container">
            <h3 class="font-weight-bold mb-3">Product Lists :</h3>
            <div class="row">
                <div class="col-lg-6 mb-5">

                    <form @submit.prevent="addNewProduct">
                        <div class="form-group">
                            <label class="font-weight-bold">Product:</label>
                            <input type="text" class="form-control" placeholder="Insert Product" v-model="name" />
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold">Price:</label>
                            <input type="text" class="form-control" placeholder="Insert Price" v-model="price" />
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold">Image Url:</label>
                            <input type="text" class="form-control" placeholder="Insert Image Url" v-model="url" />
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-4 text-left">
                    <h4 class="font-weight-bold mb-3">Cart Details:</h4>
                    <p v-show="noCartItem" class="text-secondary">No cart item found.</p>
                    <span v-for="(addToCart,index) in addToCarts" class="shadow-lg" :key="addToCart.id">
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <img :src="addToCart.url" width="50px" height="50px">
                            </div>

                            <div class="col-lg-7">
                                <span>{{ addToCart.name }}</span><br>
                                <span>${{ addToCart.price }}</span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-lg-5">
                                <input v-model="addToCart.qty" class="form-control" type="text" readonly>
                            </div>

                            <div class="col-lg-5">
                                <button class="btn btn-secondary" title="Plus Quantity" @click="plusCartQuantity(addToCart)">
                                    +
                                </button>
                                <button class="btn btn-secondary" title="Minus Quantity" @click="minusCartQuantity(addToCart)">
                                    -
                                </button>
                                <button class="btn btn-danger" title="Remove Cart" @click="removeCartItem(index)">
                                    X
                                </button>
                            </div>
                        </div>
                    </span>

                    <hr class="bg-warning">

                    <form @submit.prevent="applyDiscount">
                        <div class="row">
                            <div class="col-lg-3">
                                <select class="form-control" id="discount-type">
                                    <option value="%" selected>%</option>
                                    <option value="$">$</option>
                                </select>
                            </div>

                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="discount-value" placeholder="Discount">
                            </div>

                            <div class="col-lg-3">
                                <button class="btn btn-info">Apply</button>
                            </div>
                        </div>
                    </form>

                    <hr class="bg-warning">

                    <p>SubTotal: {{ subTotal }}</p>
                    <p v-show="discountValue">Discount: {{ discount }}</p>
                    <p v-show="shippingValue">Shipping Charge: {{ shipping }}</p>
                    <p v-show="netTotalValue">Net Total: {{ netTotal }}</p>
                    <p>Tax: {{ tax }}</p>
                    <p>Total: {{ total }}</p>
                    <p>Round off: {{ roundOff }}</p>
                    <p>Payable: {{ payable }}</p>
                </div>
            </div>


            <div class="col-lg-6">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Product Image</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="product in products" :key="products.id">
                            <td>{{ product.id }}</td>
                            <td>
                                <input v-model="product.name"
                                    v-if="product.isEdit"
                                    class="form-control"
                                    @keyup.enter="product.isEdit = false;"
                                >
                                <label v-else @click="product.isEdit = true;">{{ product.name }}</label>
                            </td>

                            <td>
                                <input v-model="product.price"
                                    v-if="product.isEdit"
                                    class="form-control"
                                    @keyup.enter="product.isEdit = false;"
                                >
                                <label v-else @click="product.isEdit = true;">{{ product.price }}</label>
                            </td>

                            <td>
                                <input v-model="product.url"
                                    v-if="product.isEdit"
                                    class="form-control"
                                    @keyup.enter="product.isEdit = false;"
                                >
                                <img v-else @click="product.isEdit = true;" :src="product.url" width="50px" height="50px">
                            </td>

                            <td>
                                <button class="btn btn-danger" title="Delete Todo" @click="removeProduct(product.id)">
                                    <i class="fas fa-trash-alt text-light"></i>
                                </button>
                                <button class="btn btn-primary"
                                    title="Add To Cart"
                                    @click="addToCart(product)"
                                >
                                <i class="fas fa-shopping-cart text-light"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/js/vue.js"></script>
    <script>
        new Vue({
            el: '.products',
            data: {
                id: '',
                name: '',
                price: '',
                url: '',
                products: [],
                addToCarts: [],
                qty: '',
                finalSubTotal: '',
                finalTax: '',
                finalTotal: '',
                finalRoundOff: '',
                shippingValue: false,
                finalShipping: '',
                netTotalValue: false,
                finalNetTotal: '',
                noCartItem: true,
                finalDiscountType: '',
                finalDiscountValue: '',
                discountValue: false,
            },
            computed: {
                subTotal() {
                    let subTotal = 0;
                    this.addToCarts.forEach(item => {
                        subTotal += (item.price * item.qty);
                    });

                    this.finalSubTotal = subTotal;

                    return subTotal.toFixed(2);
                },
                discount() {
                    if (this.finalDiscountType === '$') {
                        this.discountValue = true;

                        return this.finalDiscountValue + '.00';
                    } else if (this.finalDiscountType === '%') {
                        this.discountValue = true;
                        this.finalDiscountValue = this.finalSubTotal * this.finalDiscountValue / 100;

                        return this.finalDiscountValue;
                    }
                },
                shipping() {
                    let shipping = 0
                    if (this.finalSubTotal > 0 && this.finalSubTotal <= 100) {
                        this.shippingValue = true;
                        shipping = this.finalSubTotal * 4 / 100;
                        this.finalShipping = shipping;

                        return shipping.toFixed(2);
                    } else {
                        this.finalShipping = 0;
                        this.shippingValue = false;
                    }
                },
                netTotal() {
                    let netTotal = 0;
                    if (this.shippingValue === true) {
                        this.netTotalValue = true;
                        if (this.finalDiscountValue != '') {
                            netTotal = this.finalSubTotal + this.finalShipping - this.finalDiscountValue;
                        } else {
                            netTotal = this.finalSubTotal + this.finalShipping;
                        }
                        this.finalNetTotal = netTotal;

                        return netTotal.toFixed(2);
                    } else {
                        this.finalNetTotal = 0;
                        this.netTotalValue = false;
                    }
                },
                tax() {
                    let subTotal = 0;
                    let tax = 0;

                    this.addToCarts.forEach(item => {
                        subTotal += (item.price * item.qty);
                    });

                    if (subTotal <= 100) {
                        tax = this.finalNetTotal * 4 / 100;
                        this.finalTax = tax;
                    } else {
                        tax = subTotal * 4 / 100;
                        this.finalTax = tax;
                    }

                    return tax.toFixed(2);
                },
                total() {
                    let total = 0;
                    if (this.finalSubTotal <= 100) {
                        total = this.finalNetTotal + this.finalTax;
                    } else {
                        total = this.finalSubTotal + this.finalTax;
                    }

                    this.finalTotal = total;

                    return total.toFixed(2);
                },
                roundOff() {
                    let total = this.finalTotal;
                    let roundOffTotal = Math.round(this.finalTotal);
                    let roundOff = total.toFixed(2) - roundOffTotal.toFixed(2);

                    this.finalRoundOff = roundOff;

                    return roundOff.toFixed(2);
                },
                payable() {
                    let payable = this.finalTotal + this.finalRoundOff;

                    return payable.toFixed(2);
                }
            },
            methods: {
                applyDiscount() {
                    let type = document.getElementById('discount-type').value;
                    let value = document.getElementById('discount-value').value;
                    this.finalDiscountType = type;
                    this.finalDiscountValue = value;
                },
                addNewProduct() {
                    let incrementValue = 0;
                    if (this.name == '' || this.price == '' || this.url == '') {
                        alert('Please fill blank field');
                    } else {
                        incrementValue = this.products.length + 1;
                        this.products.push(
                            { id: incrementValue, name: this.name, price: this.price, url: this.url, isEdit: false, qty: 1 }
                        )
                        this.name = '';
                        this.price = '';
                        this.url = '';
                    }
                },
                removeProduct(productId) {
                    this.products = this.products.filter(product => product.id !== productId)

                    this.addToCarts.splice(productId.length - 1, 1);
                },
                addToCart(product) {
                    let itemInCart = this.addToCarts.filter(item => item.id === product.id);

                    let isItemInCart = itemInCart.length > 0;

                    if (isItemInCart === false) {
                        this.addToCarts.push(Vue.util.extend({},product))
                    } else {
                        itemInCart[0].qty += product.qty;
                    }

                    if (this.addToCarts.length === 0) {
                        this.noCartItem = true;
                    } else {
                        this.noCartItem = false;
                    }
                },
                removeCartItem(index) {
                    this.addToCarts.splice(index, 1);

                    if (this.addToCarts.length === 0) {
                        this.noCartItem = true;
                    } else {
                        this.noCartItem = false;
                    }
                },
                plusCartQuantity(addToCart) {
                    let itemInCartForPlus = this.addToCarts.filter(item => item.id === addToCart.id);
                    itemInCartForPlus[0].qty += 1;
                },
                minusCartQuantity(addToCart) {
                    let itemInCartForMinus = this.addToCarts.filter(item => item.id === addToCart.id);
                    itemInCartForMinus[0].qty -= 1;
                },
            }
        })
    </script>
</body>
</html>
